body{
  background-color: #fafafa;
}

.wrapper {

  margin: auto;
}

.wrapper,
header,
.header-custom {
  min-width: 225px;
  max-width: 650px;
  min-height: 56px;
  padding-left: 1rem;
}

.bodyContent {
  background-color: white;
  justify-content: flex-end;
  overflow: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  position: relative;
  top: 56px;
}

.mdl-grid {
  max-width: 100%;
}

.button-custom {
  float: right;
}
